@using Construction.WebUI.AppCode;
@{
    ViewBag.Title = "RoleList";
    string Domain = Request.Url.Scheme + "://" + Request.Url.Authority;
    DashboardMainCode mainCode = new DashboardMainCode(Domain);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-12" style=" text-align: right;">
                    <a onclick='btnClick(this)' id="new" class="btn btn-primary insert text-white pull-right insert" data-toggle="modal" data-target="#exampleModal"><i class="mdi mdi-plus-circle mr-1"></i> Yeni Kullanıcı Ekle</a>
                </div>
            </div>

            <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatables">
                <thead>
                    <tr>
                        <th>Kullancı Adı </th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Yetki Grubu</th>
                        <th>Aktif Durumu</th>
                        <th width="75px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->

@section Scripts{
    <!-- JsGrid js -->
    <link href="@mainCode.Domain/Content/Dashboard/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@mainCode.Domain/Content/Dashboard/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="@mainCode.Domain/Content/Dashboard/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/jszip/jszip.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets//libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="@mainCode.Domain/Content/Dashboard/assets/ControllerJs/UserGroup/UserList.js"></script>>
    <!-- Init js -->
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adı</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Adı">
                </div>
                <div class="form-group">
                    <label for="position">Soyadı</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Soyadı">
                </div>
                <div class="form-group">
                    <label for="category">Parola</label>
                    <input type="text" class="form-control" id="password" placeholder="Parola">
                </div>
                <div class="form-group">
                    <label for="category">Yetki Tipi</label>
                    <select id="role" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="category"> Aktif Durumu</label>
                    <select id="isactive" class="form-control">
                        <option value="0"> Pasif</option>
                        <option value="1"> Aktif</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="PostData(this)" class="btn btn-primary" id="btnSumbit">Kaydet</button>
            </div>
        </div>
    </div>
</div>