@using System.Configuration;
@using Construction.WebUI.AppCode;
@{
    string Domain = Request.Url.Scheme + "://" + Request.Url.Authority;
    string ProjectName = ConfigurationManager.AppSettings["ProjectName"];
    MainCode mainCode = new MainCode(Domain, Request.RawUrl);
    var Verifications = mainCode.GetVerifications();
   var contact= mainCode.GetContactInfos().FirstOrDefault();
}
<!DOCTYPE html>
<html lang="tr" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ProjectName | @ViewBag.Title</title>
    @foreach (var item in Verifications)
    {
        <meta name="@item.VerificationKey" content="@item.VerificationValue" />
    }

    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />

    <link rel="shortcut icon" href="@Domain/Content/assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="@Domain/Content/assets/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="@Domain/Content/assets/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@Domain/Content/assets/img/apple_icons_114x114.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Domain/Content/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="@Domain/Content/assets/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="@Domain/Content/assets/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="@Domain/Content/assets/css/custom.css" type="text/css" media="all" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
</head>
<body>

    <header class="main_header">
        <div class="header_wrapper">
            <a href="@Domain/" class="logo"><img src="@Domain/Content/assets/img/logo.png" alt="" class="logo_def"><img src="@Domain/Content/assets/img/retina/logo.png" alt="" class="logo_retina"></a>
            <nav>
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        @Html.Raw(mainCode.GetMainMenu())
                    </ul>
                </div>
            </nav>
            <div class="socials">
                @Html.Raw(mainCode.GetSocialMedia())
            </div>
            <div class="phone"><a href="tel:@contact.Phone">@contact.Phone</a></div>
            <div class="clear"></div>
        </div><!-- //Header Wrapper -->
    </header>

    @RenderBody()



<footer class="main_footer" id="footter-main">
    <div class="copyright">Copyright &copy; @DateTime.Now.Year @ProjectName. All Rights Reserved.</div>
    <div class="phone phone_ipad"><a href="tel:@contact.Phone">@contact.Phone</a></div>
    <div class="socials">
        @Html.Raw(mainCode.GetSocialMedia())
    </div>
    <div class="phone"><a href="tel:@contact.Phone">@contact.Phone</a></div>
    <div class="phone"><a href="mailto:@contact.Email">@contact.Email</a></div>
    <div class="clear"></div>
</footer>

    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>

    <script type="text/javascript" src="@Domain/Content/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="@Domain/Content/assets/js/modules.js"></script>
    <script type="text/javascript" src="@Domain/Content/assets/js/theme.js"></script>
    <script type="text/javascript" src="@Domain/Content/assets/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>