@using System.Configuration;
@using Construction.WebUI.AppCode;
@{
    string Domain = Request.Url.Scheme + "://" + Request.Url.Authority;
    string ProjectName = ConfigurationManager.AppSettings["ProjectName"];
    MainCode mainCode = new MainCode(Domain, Request.RawUrl);
    var data = mainCode.GetSpecialPage();
    ViewBag.Title = data.Title;
    ViewBag.MetaKeywords = data.Keywords;
    ViewBag.MetaDescription = data.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mainData = mainCode.GetContactInfos();
}


<div class="site_wrapper">
    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container">
                        <div class="posts-block">
                            <div class="contacts_content">
                                <div class="contentarea">
                                    
                                    <div class="card spc-card mt-5">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xs-12 first-module module_number_1 module_cont title_square module_text_area pb30">
                                                    <div class="bg_title"><h4 class="headInModule">@mainCode.Conversion("contact_form_messages_title")</h4></div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-6 pr25 module_number_2 module_cont pb50 module_html">
                                                    <div class="contact-form form-style-3">
                                                        <div class="row">
                                                            <div class="form-group col mb-3-5">
                                                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-3-5" name="name" id="fullname" placeholder="@mainCode.Conversion("contact_fullname")" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col mb-3-5">
                                                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-3-5" id="phone" placeholder="@mainCode.Conversion("contact_phone")" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col mb-3-5">
                                                                <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control text-3 h-auto py-3-5" id="email" placeholder="@mainCode.Conversion("contact_email")" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col mb-3-5">
                                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control text-3 h-auto py-3-5" id="message" name="message" placeholder="@mainCode.Conversion("contact_message")" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col mb-3-5">
                                                                <div id="captcha2"></div>
                                                                <input hidden type="text" value="@ConfigurationManager.AppSettings["apiKey"]" class="hidden" id="apiKey" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col">
                                                                <button type="submit" id="submitmessage" class="custom-view-more d-inline-flex align-items-center btn btn-primary font-weight-semibold rounded-0 text-3-5 btn-px-4 btn-py-2" data-loading-text="Loading...">
                                                                    @mainCode.Conversion("contact_btnText")
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .module_cont -->
                                                <div class="col-sm-6 pl25 module_number_3 module_cont no_bg module_contact_info pb50">
                                                    <ul class="contact_info_list contact_icons_color">
                                                        <li class="contact_info_item">
                                                            <h3 class="d-block text-color-grey positive-ls-3 font-weight-medium text-2 mb-1">@mainCode.Conversion("footer_left_title")</h3>
                                                            @Html.Raw(mainCode.Conversion("footer_left_content"))
                                                        </li>
                                                        <li class="contact_info_item">
                                                            <div class="contact_info_wrapper">
                                                                <h3 class="d-block text-color-grey positive-ls-3 font-weight-medium text-2 mb-1">@mainCode.Conversion("footer_right_title")</h3>
                                                                @Html.Raw(mainCode.Conversion("footer_right_content"))
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    @Html.Raw(mainCode.GetSocialMedia())
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                             
                                </div>
                            </div><!-- .contacts_content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts_map">
            <div class="map_block">
                <div id="map-canvas">
                    @Html.Raw(mainData.FirstOrDefault().MapFrame)
                </div>
            </div><!-- .map_block -->
        </div>
    </div><!-- .main_wrapper -->
</div>




@section scripts
{
    <script type="text/javascript" src="@Domain/Content/assets/page/contact.js"></script>
}
