@using System.Configuration;
@using Construction.WebUI.AppCode;
@{
    string Domain = Request.Url.Scheme + "://" + Request.Url.Authority;
    string ProjectName = ConfigurationManager.AppSettings["ProjectName"];
    MainCode mainCode = new MainCode(Domain, Request.RawUrl);
    var data = mainCode.GetPageDetails();
    ViewBag.Title = data.Title;
    ViewBag.MetaKeywords = data.Keywords;
    ViewBag.MetaDescription = data.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var models = mainCode.GetPageList();
}

<div class="site_wrapper">
    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
                <div class="row">
                    @foreach (var item in models)
                    {
                        <div class="col-md-6">
                            <div class="blog_post_preview preview_type2">
                                <div class="blog_content">
                                    <div class="preview_top">
                                        <div class="preview_title">
                                            <h4 class="blogpost_title"><a href="@item.SeoUrl">@item.Title</a></h4>
                                        </div>
                                    </div>
                                    <div class="pf_output_container">
                                        <div class="slider-wrapper theme-default ">
                                            <div class="nivoSlider">
                                                <a href="@item.SeoUrl"> <img src="@item.ImageUrl" alt="@item.Title" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <article class="contentarea">
                                        @Html.Raw(item.Content)
                                        <br class="clear">
                                    </article>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>